// Accordion Component

.intro-section .accordion {
  padding-bottom: 0;
  @include list_bullets();

  .tabbed-heading {
    margin-bottom: 18px;
  }

  li h2:first-child {
    margin-bottom: 18px;
    cursor: pointer;

    &:before {
      content: '';
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      background: url('../images/sprites/globalSprite-1x.png') no-repeat -42px -130px;
      width: 9px;
      height: 12px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom:1;*display: inline;
      margin-right: 8px;
      -webkit-transition: -webkit-transform 200ms ease-in-out;
      -moz-transition: -moz-transform 200ms ease-in-out;
      -o-transition: -o-transform 200ms ease-in-out;
      transition: transform 200ms ease-in-out;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      -webkit-font-smoothing: antialiased;
      position: relative;
      top: -1px
    }
  }

  &.is-collapsed { 
    p:last-child {
      padding-bottom: 25px;
    }

    > li.is-active h2:first-child:before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg)
    }
  }

  .accordion-content {
  	ul {
      padding-bottom: 25px;
      @include list_bullets(circle);
    }
  }
}